body {
  font-family: "Lato", sans-serif;
}

.general-container {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #009688 0vh,
    #009688 15vh,
    #d2dbdc 15vh,
    #d2dbdc 100vh
  );
}

.wrapper {
  width: 80%;
  height: 90%;
  background-color: white;
  display: flex;
}

/*FIRST COLUMN*/
.first-column {
  height: 100%;
  width: 30%;
}

.user-cont {
  width: 100%;
  height: 55px;
  background-color: white;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 3px;
}

.user-name {
  font-size: 22px;
}

.receive-messages {
  width: 100%;
  height: 70px;
  background-color: rgb(170, 245, 245);
  display: flex;
}

.bell-cont {
  width: 20%;
  height: 100%;
}

.text-cont {
  width: 80%;
  height: 100%;
}

.fa-bell-slash {
  margin-top: 20px;
  margin-left: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  color: rgb(170, 245, 245);
  float: left;
}

.notification-active {
  color: rgb(154, 150, 150);
}

.search-bar {
  width: 100%;
  height: 50px;
  background-color: white;
}

.chat-users-section {
  width: 100%;
  height: calc(100% - 175px);
}

.box-chat {
  width: 100%;
  height: 60px;
  padding: 10px;
  display: flex;
  border-bottom: 1px solid rgb(185, 182, 182);
}

/*SECOND COLUMN*/
.second-column {
  height: 100%;
  width: 70%;
}

.chat-person {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 232, 232);
  border-left: 1px solid rgb(196, 189, 189);
}

.on-chat-image .icons-cont {
  height: 100%;
  width: 20%;
}

.on-chat-image {
  display: flex;
}

.icons-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.fa-search {
  color: rgb(155, 151, 151);
  margin-right: 10px;
}

.fa-paperclip {
  color: rgb(155, 151, 151);
  margin-right: 10px;
}

.fa-ellipsis-v {
  color: rgb(155, 151, 151);
  margin-right: 10px;
}

.on-screen-chat {
  width: 100%;
  height: calc(100% - 110px);
  background-image: url(../img/mine.jpg);
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
}

.sent {
  max-width: 160px;
  min-height: 50px;
  background-color: white;
  border-radius: 15px;
  padding: 3px;
  align-self: flex-start;
}

.received {
  max-width: 160px;
  min-height: 50px;
  background-color: lightgreen;
  border-radius: 15px;
  padding: 3px;
  margin-bottom: 3px;
  align-self: flex-end;
}

.message-bar {
  width: 100%;
  height: 55px;
  background-color: rgb(243, 232, 232);
  display: flex;
}

.emoji {
  height: 100%;
  width: 10%;
  border-left: 1px solid rgb(196, 189, 189);
  display: flex;
  align-items: center;
  justify-content: center;
}

.direct-message {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vocal {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
