body {
  font-family: "Lato", sans-serif;
}

.general-container {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80%;
  height: 90%;
  background-color: white;
  display: flex;
}

/*FIRST COLUMN*/
.first-column {
  height: 100%;
  width: 30%;
  background-color: lightblue;
}

.user-cont {
  width: 100%;
  height: 55px;
  background-color: white;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.receive-messages {
  width: 100%;
  height: 70px;
  background-color: rgb(170, 245, 245);
}

.fa-bell-slash {
  margin-top: 20px;
  margin-left: 10px;
  background-color: white;
  padding: 7px;
  border-radius: 50%;
  color: rgb(170, 245, 245);
}

.note {
  margin-top: -10px;
}

.user-name {
  font-size: 22px;
}

.search-bar {
  width: 100%;
  height: 50px;
  background-color: white;
}

.chat-users-section {
  width: 100%;
  height: calc(100% - 175px);
  background-color: aquamarine;
}

/*SECOND COLUMN*/
.second-column {
  height: 100%;
  width: 70%;
}

.chat-person {
  width: 100%;
  height: 55px;
  background-color: rgb(243, 232, 232);
  border-left: 1px solid rgb(196, 189, 189);
}

.on-screen-chat {
  width: 100%;
  height: calc(100% - 110px);
  background-image: url(../img/mine.jpg);
}

.message-bar {
  width: 100%;
  height: 55px;
  background-color: rgb(243, 232, 232);
  display: flex;
}

.emoji {
  height: 100%;
  width: 10%;
  border-left: 1px solid rgb(196, 189, 189);
  display: flex;
  align-items: center;
  justify-content: center;
}

.direct-message {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vocal {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
